*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(53, 51, 50); */

}
.log_form{
 
   border: none;
   border-radius: 20px;
   background-color: rgb(29, 33, 33);
   width: 500px;
   height: 430px;
   display: flex;
   justify-content: center;
   margin: auto;
   margin-top: 10rem;
   text-align: center;
   color: whitesmoke;
}